@import 'style.css';
.council{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    font-size: 1.6rem;
    color: #001E6C;
    font-family: 'Roboto Condensed',sans-serif;
}
.box img {
    border-radius: 10em;
    width: 30%;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #46bbb3;
    margin: 2rem;
    padding: 2rem;
    border-radius: 5em;
    box-shadow:0px 5px 5px 2px  #03554f;
}
.box h3{
    color:black;
    font-family: 'Montserrat  Alternates',sans-serif;
    padding: 1.5rem;
    font-size: 1.5rem;
}
.council-box{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2rem;
}
@media screen and (max-width:950px){
    .council-box{
      display:grid;
      grid-template-columns: auto auto;
      grid-column-gap: 2rem;
    }
  }
  @media screen and (max-width:635px){
    .council-box{
      display:grid;
      grid-template-columns: auto ;
      grid-column-gap: 2rem;
    }
  }