@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal&family=Montserrat+Alternates:wght@300&family=Poppins:wght@200&display=swap');
.faculty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faculty h1{
    font-family: 'Roboto Condensed' , sans-serif;
    color: #001E6C;
    padding: 4rem;
}
.bio{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 3rem;
    align-items: center;
    justify-content: center;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 5px 2px grey ;
    border-radius: 1rem;
    border: 2px black;
    padding: 0rem 1rem;
    margin: 1em;
    height: 26rem;
}
.box:hover{
    transform: scale(102%);
    transition: 0.5s;
}
.box h2, .box h3{
    font-family: 'Metal', cursive;
    color: #035397;
}
.box ul{
    font-family: 'Poppins' , sans-serif;
    color: black;
}
.box a{
    text-decoration: none;
    color:#035397;
    
}
@media screen and (max-width:1130px){
    .bio{
        display: grid;
        grid-template-columns: auto;
    }
}