@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal&family=Montserrat+Alternates:wght@300&family=Poppins:wght@200&display=swap');
.scholar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scholar h1{
    font-family: 'Roboto Condensed' , sans-serif;
    color: #001E6C;
    padding:2rem;
}
.scholar-text{
    display: grid;
    grid-template-columns: auto auto;
}
.imp, .req{
    padding:2rem;
    margin: 2rem;
}
.scholar li{
    font-family: 'poppins' , sans-serif;
    line-height: 2rem;
}
.scholar h2{
    font-family: 'metal',cursive;
}
@media screen and (max-width:1130px){
    .scholar-text{
        display: grid;
        grid-template-columns: auto;
    }
}